*.sh
*.md
*.pem
*.key
*.yml
*.example
*.secret
*.env
.github/
.git/
certs/
cron/
getmail/
gpg/
msmtp/
shredder/
smime/
.env
.keep
**/.keep
*.pgpass
*.json
!cron_entrypoint.sh
crontab
RT_SiteConfig.pm
Caddyfile
Dockerfile
docker-compose.yml
docker-compose.override.yml
docker-compose.dev.yml
