RT_SiteConfig.pm
*.pem
*.key
Caddyfile
crontab
/certs/*
!/certs/.keep
msmtp/*
!msmtp/.keep
getmail/*
!getmail/.keep
gpg/*
!gpg/.keep
shredder/*.sql
*.secret
*.env
.env
*.pgpass
.claude/settings.local.json
docker-compose.override.yml
*.patch
# Added by goreleaser init:
dist/
