*.sh
!dev.sh
!dev-helm.sh
!prod.sh
RT_SiteConfig.pm
*.pem
*.key
TODO
!dev.sh
!prod.sh
!logs_prod.sh
!bash_functions.sh
!restart_prod.sh
!cron_entrypoint.sh
Caddyfile
crontab
/certs/*
!/certs/.keep
msmtp/*
!msmtp/.keep
getmail/*
!getmail/.keep
gpg/*
!gpg/.keep
shredder/*.sql
*.secret
*.env
.env
*.pgpass
*.json
docker-compose.override.yml
*.patch
# Added by goreleaser init:
dist/
