*.sh
!dev.sh
!prod.sh
RT_SiteConfig.pm
*.pem
*.key
TODO
!dev.sh
!prod.sh
!bash_functions.sh
!restart_prod.sh
crontab
nginx/startup-scripts/*
!nginx/startup-scripts/.keep
nginx/certs/*
!nginx/certs/.keep
msmtp/*
!msmtp/.keep
getmail/*
!getmail/.keep
gpg/*
!gpg/.keep
shredder/*.sql
*.secret
*.env
