[retriever]
type = SimpleIMAPSSLRetriever
server = mail.host.com
username = user@domain.com
password = pass
mailboxes = ("INBOX",)

[destination]
type = MDA_external
path = /opt/rt5/bin/rt-mailgate
user = rt
group = rt
# 8080 is the mailgate vhost
arguments = ("--url", "http://nginx:8080/", "--queue", "general", "--action", "comment")

[options]
read_all = false
delete = true
verbose = 0
