defaults

account smtp
host smtp.office365.com
port 587
tls on
tls_starttls on
from test@test.com
tls_trust_file /msmtp/ca-bundle.crt
tls_certcheck on
auth on
user user@domain.com
password pass
logfile /var/log/stdout.log

account default : smtp
