### Base configuration ###
Set($rtname, 'rt');
Set($WebDomain, 'localhost');
Set($WebPort, 443);
Set($CanonicalizeRedirectURLs, 1);

Plugin('RT::Extension::MergeUsers');

### Database connection ###
Set($DatabaseType, 'Pg' );
Set($DatabaseHost , 'db');
Set($DatabasePort , '5432');
Set($DatabaseUser , 'rt');
Set($DatabasePassword , 'password');
Set($DatabaseName , 'rt');
Set($DatabaseAdmin, "rt");

Set($SendmailPath, '/usr/bin/msmtp');

### GnuPG configuration ###
Set(%GnuPG,
  Enable                 => 1,
  GnuPG                  => 'gpg',
  Passphrase             => undef,
  OutgoingMessagesFormat => 'RFC'
);

# sks-keyservers use a self signed certificate so we need to disable certificate checking
Set(%GnuPGOptions,
  homedir             => '/opt/rt5/var/data/gpg',
  passphrase          => 'PASSPHRASE',
  keyserver           => 'hkps://hkps.pool.sks-keyservers.net',
  'keyserver-options' =>  'auto-key-retrieve timeout=20 no-check-cert',
  'auto-key-locate'   => 'keyserver',
);

### SMIME configuration ###
Set(%SMIME,
    Enable             => 1,
    AcceptUntrustedCAs => 1,
    OpenSSL            => '/usr/bin/openssl',
    Keyring            => '/opt/rt5/var/data/smime',
    CAPath             => '/opt/rt5/var/data/smime/signing-ca.pem',
    Passphrase => {
        'user@user.com' => 'PASSPHRASE',
        ''              => 'fallback',
    },
);

1;
